body {
  background-color: #495464;
  background-attachment: fixed;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  position: absolute center;
  text-align: center;
  padding-left: 0%;
  color: #e8e8e8;
  margin-top: 43px;
}

.text1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: -20px;
  color: #e8e8e8;
  margin-bottom: 2rem;
}

.image {
  text-align: center;
  width: 200px;
  /* Container's dimensions */

  height: 200px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #bbbfca;
  background: url("https://images.unsplash.com/reserve/ysPfhVSzSP2m629CW0mw_selfPortrait.jpg?fit=crop&fm=jpg&h=700&q=80&w=1225") center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
  border: 5px solid #bbbfca;
}



.trick {
  display: inline-block;
  vertical-align: middle;
  height: 150px;
}

.image:hover {
  box-shadow: 0px 5px 20px .9px #3F3F3F;
}

.image:hover {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
  -webkit-transition: 1.6s ease-in-out;
  transition: 1.6s ease-in-out;
}

.trick:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#overlay {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0 0 0 0;
  opacity: 1.0;
  -webkit-transition: opacity 2.25s ease;
  -moz-transition: opacity 10.25s ease;
}

#box:hover #overlay {
  opacity: 1;
}

.content-group{
  background-color: #bbbfca;
  width:400px;
  height: auto;
  margin:auto;
  /*margin:50px 400px 50px 400px;*/
  max-width:100%;
  box-shadow: 5px 10px #2D333D;
  border-radius: 25px;

}

.panel-heading{
  background-color:transparent !important;
}


.pronoun {
  font-size: 15px;
}

.contact {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}

.symbol {
  float: left;
  padding-left: 2rem;

  padding: 10px;
  border-radius: 50%; */
}

.icon {
  vertical-align: middle;
  float: left;
  color: #495464;
  margin-left: 2rem;
  justify-content: center;

}

.icon:hover {
  color: #090A0B;
}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* padding: 1rem 2rem; */
  padding-top: 1rem;
  margin-right: 2rem;
}

p:hover{
  color: #090A0B;
}

a {
  color: #495464;
  text-decoration: none;

}

a:hover{
  color: #090A0B;
}

.last {
  padding-bottom: 1rem;
}

.smaller {
  padding-left: 0.5rem;
}
